--- 
--- 
@import "base";
@import url(https://fonts.googleapis.com/css?family=Six+Caps);

html {
    background-color: #FDF0D5;
    overflow: auto;
    scrollbar-gutter: stable both-edges;
}

#main {
    width: 100%;
}

.modernist-header{
    font-family: six caps;
    text-transform: uppercase;
    background-size: 100%;
    color: white;
    letter-spacing: .2em;
    font-size: 3rem;
    text-shadow: .07em .07em 0 #669BBC, .1em .1em 0 white;
    padding: 0 50px 0 50px;
}

.modernist-tab {
    font-family: six caps;
    text-transform: uppercase;
    background-size: 100%;
    color: white;
    letter-spacing: .2em;
    font-size: 1.5rem;
    text-shadow: .07em .07em 0 #669BBC, .1em .1em 0 white;
}

.modernist-tab:hover {
    text-shadow: .07em .07em 0 black, .1em .1em 0 #669BBC;
    color: #669BBC;
    transition: 0.15s;
    transition-timing-function: ease-in-out;
}

p {

}


nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;

    margin: 0;

    height: 120px;
    width: 100%;
    line-height: 50px;
    align-items: center;
    background: #C1121F;
    border: solid black 2px;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex: 0;
    width: 100%;
    max-width: 100%;
    margin-right: 50px;

}

nav h2 {
    margin: 0;
    width: auto;
}

nav a {
    height: 43px;
    text-decoration: none;
    color: #162521;
    border-bottom: solid black 1px;
}

a :hover {
    color: red;
    font-size: 1px;
}

.content {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    // color: #003049;
    color: black;
    height:auto;
    width:auto;
    border-radius: 30px;
}

.content li {
    text-decoration: none;
}

.content h1 {
    font-family: six caps;
    font-size: 3rem;
    color: black;
    border-bottom: solid 1px black;
    text-align: center;
}

.content h2 {

}

.content p {
}

.gallery {
    --gap: 64px;
    --num-cols: 3;
    --row-height: auto;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: auto;
    border: solid black 2px;
    position: relative;
    display: block;
}

//Wrapper
.gallery .box-shadow-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

.gallery .box-shadow-wrapper::before {
    position: absolute;
    content: " ";
    top: 25px;
    left: 30px;
    width: 100%;
    height: 100%;
    outline: solid black 2px;
    background-color: transparent;
    z-index: 0;
}

.box-shadow-wrapper:hover .hover-text {
    opacity: 1;
    visibility: visible;
    z-index: 3;
}

.box-shadow-wrapper:hover::before {
    z-index: 3;
    opacity: 1;
}

//post-change colors
.box-shadow-wrapper.blue::before{
    background-color: #669BBC;
}

.box-shadow-wrapper.red::before{
    background-color: #C1121F;
}

.box-shadow-wrapper.green::before{
    background-color: #71bd0e;
}

.box-shadow-wrapper.yellow::before{
    background-color: #FFD447;
}

.gallery .box-shadow-wrapper.portrait {
  grid-row: span 2;
}

.gallery .box-shadow-wrapper.landscape {
    grid-row: span 1;
}

.hover-text {
    position: absolute;
    height: auto;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: clamp(3rem, 5vw, 4rem);
    font-family: "Six Caps", sans-serif;
    text-transform: uppercase;

    opacity: 0;
    text-align: center;
    white-space: normal;
}

@media screen and (max-width: 1024px) {
    .gallery {
        --num-cols: 1;
        --row-height: auto;
    }

    nav {
        align-items: center;
    }

    .tabs {
        max-width: 100%;
        justify-content: center;
        margin: auto;
    }
}

.blog-posts ul {
    list-style: none;
    padding: 0;
}

.blog-posts a {
    text-decoration: none;
    margin: 0;
    padding: 0;

}

.blog-posts h2 {
}